   {% load static %}
   
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="index.html"> <img src="{% static 'web/img/logo-light.png' %}" class="logo-img" alt=""> </a>
            <!-- <a class="logo" href="index.html"> <h2>CARE<span>X</span></h2> </a> -->
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span> </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'web:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'web:about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'web:services' %}">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'web:blog' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'web:contact' %}">Contact</a></li>
            </ul>
            <div class="navbar-right">
                <div class="wrap">
                    <div class="icon"> <i class="carex-phone-call"></i> </div>
                    <div class="text">
                        <p>Need help?</p>
                        <h5><a href="tel:8551004444">855 100 4444</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>